<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKGAFFAIRS;uid=sa;pwd=dsc"/>
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TK;uid=sa;pwd=dsc"/>
    <add name="dbTKBOXEDMEAL" providerName="System.Data.SqlClient" connectionString="server=192.168.1.95;database=TKBOXEDMEAL;uid=tk;pwd=@bd2018"/>
  </connectionStrings>
</configuration>